<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733171260866-4ot4223vkfn3gtlrcm8epdch2d6esu6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733171260866-4ot4223vkfn3gtlrcm8epdch2d6esu6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBpkpGsvcKLy0RXh7X0RAxg7pFRx3DQTFU</string>
	<key>GCM_SENDER_ID</key>
	<string>733171260866</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>beyond-money-8f943</string>
	<key>STORAGE_BUCKET</key>
	<string>beyond-money-8f943.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733171260866:ios:427fc3e123bb5a52688a5b</string>
</dict>
</plist>